.cards {
  /*margin: 30px;*/
  max-width: 880px;
  border-radius: 10px;
  margin: 0 auto;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  list-style-type: none;
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  line-height: 29px;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}

.card__like-button {
  background: transparent url(../images/Vectorlike-inactive.svg) center
    no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 320px) {
  .cards {
  }

  .card__list {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media screen and (max-width: 568px) {
  .cards {
  }
}
@media screen and (max-width: 768px) {
  .cards {
    /*margin-left: 0;
    margin-right: 0;*/
  }
}

@media screen and (max-width: 916px) {
  .cards {
    margin-left: 0;
    margin-right: 0;
  }
}
