.modal__image-content {
  position: relative;
}

.modal__image-content_type-open {
  background: none;
  padding: 0;
  max-height: 75vh;
  max-width: 75vw;
  width: auto;
  height: auto;
  display: flex;
  margin: auto;
}

.modal__preview-image {
  object-fit: cover;
  max-width: 100%;
}

.modal__preview-caption {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  color: white;
  margin: 0;
}
